.contact {
    opacity: 0;
    z-index: 1000;
    position: fixed;
    bottom: 25px;
    right: 25px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    color: #fff;

    width: 300px;
    height: 120px;
    margin: 0 auto;
    padding: 0 20px;

    background-color: var(--primary);
    border-radius: 5px;

    transform: translateY(-200%);
    user-select: none;

    animation-fill-mode: forwards;
    animation-duration: .6s;
    animation-iteration-count: 1;
}

.contact .element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

@keyframes showContact {
    from {
        transform: translateY(115%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes hideContact {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(115%);
    }
}