.main {
    position: relative;

    display: grid;
    grid-template: 1fr / 7fr 3fr;
    gap: 20px;

    width: 1000px;
    margin: 50px auto 100px auto;
}

.main .application {
    position: sticky;
    top: 100px;

    display: grid;
    grid-template: 105px 45px / 1fr;

    width: 100%;
    height: 150px;

    background: var(--backgroundColor);
    border-radius: 10px;

    box-shadow: 1px 1px 5px var(--boxShadow);
}

.main .application .app-button {
    grid-area: span 1 / span 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main .application .app-button button {
    color: var(--backgroundColor);
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-weight: 700;
    letter-spacing: 2px;

    width: 250px;
    height: 50px;

    border-radius: 10px;
    background-color: var(--primaryColorLight);
}

.main .application .app-button button:hover {
    background-color: #6c35e4;
}

.main .application .options {
    grid-area: span 1 / span 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main .application .options div {
    width: 100%;
    height: 100%;
}

.main .application .options div button {
    color: var(--color);
    font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    width: 50%;
}

.main .application .options div button:first-child {
    border-color: var(--backgroundColorLight);
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
}

.main .application .options div button:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
}

.main .application .options div button:hover {
    background-color: var(--backgroundColorLight);
}