.benefits {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: auto;

    padding: 50px 30px;
}

.benefits .title {
    display: flex;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 700;

    width: 100%;
    margin-bottom: 30px;
}

.benefits .tiles {
    display: grid;
    grid-template: 200px / repeat(3, 200px);
    gap: 10px;

    margin: 0 5px 0 5px;
}

.benefits .tiles .benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;


    background: var(--backgroundColorLight);
    border-radius: 14px;
}

.benefits .tiles .benefit svg {
    font-size: 3rem;
}