.organization {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;

    width: 100%;
    height: 490px;
    padding: 50px 30px;
}

.organization .title {
    font-size: 1.5rem;
    font-weight: 700;

    margin-bottom: 20px;
}

.organization .table {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 350px;
}

.organization .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 170px;
    padding: 10px 0;
}

.organization .table .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 600;

    width: 220px;
    height: 100%;
}

.organization .table .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: calc(100% - 220px);
    height: 100%;
}

.organization .table .row:first-child {
    border-bottom: 1px solid var(--backgroundLight);
}